body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #567;
	font-size:13px;
	
}
#container{
	width:95%;
	max-width:1000px;
}

#leftpanel{
	float:left;
	width: 260px;
	margin: 0;
}

#rightpanel{
	float:right;
	width: 260px;
	margin: 0;
}

#next{
	float:right;
	background: #67B;
	position: relative;
	right: -8px;
	top: -8px;
	padding:5px;
	
	/* CSS 3.0 */
	border-bottom-left-radius: 10px 10px;
	border-top-right-radius: 7px 7px;
	
	/* FIREFOX HACK */
	-moz-border-radius: 0px 7px 0px 10px;
}

#next a{
	color: #6D7;
	font-weight: bold;
}

#pergunta{
	margin-left: 270px;
	border-left: 1px solid gray;
	margin-right: 270px;
	border-right: 1px solid gray;
	padding: 1em;
	max-width: 400px;
	min-width: 260px;
	
	margin-top: 30px;
	padding: 10px;
	background-color: #89D;
	
	/* CSS 3.0 */
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 30px 20px;
	border-top-left-radius: 30px 20px;
	border-top-right-radius: 7px 7px;
	box-shadow: 10px 10px 12px #444; 
	
	/* FIREFOX HACK */
	-moz-border-radius: 30px 7px 30px 7px;
	-moz-box-shadow: 10px 10px 12px #444; 
	
	/* WEBKIT HACK */ 
	-webkit-box-shadow: 10px 10px 12px #444;
}

#pergunta form{
	padding:10px;
}
#pergunta textarea{
	font-size:25px;
	height:70px;
}

.button{
	background: #67B;
	border: 1px solid #ABF;
	color: white;
	float: right;
	font-family: Arial, helvetica, sans-serif;
	font-weight: bold;
	padding: 2px 10px;
}

h2{
	font-family: Arial, helvetica, sans-serif;
	color:#444;
}

.tittle{
	color:#DDD;
	margin:10px;
	font-size:20px;
}

form textarea{
	font-family: Arial, helvetica, sans-serif;
	width: 100%;
	height:30px;
}

.causa{
	background-color: #89D;
	margin-bottom: 5px;
	padding: 10px;
	width: 95%;
}

.box_round_shadow{
	/* CSS 3.0 */
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 20px 10px;
	border-top-left-radius: 20px 10px;
	border-top-right-radius: 5px 5px;
	box-shadow: 3px 3px 7px #777;
	
	/* FIREFOX HACK */
	-moz-border-radius: 20px 5px 20px 5px;
	-moz-box-shadow: 3px 3px 7px #333; 
	
	/* WEBKIT HACK */ 
	-webkit-box-shadow:3px 3px 7px #333; 
}


.autor{
	font-size:0.7em;
	font-style:italic;
}

.descHover{
	color: #922;
	cursor:pointer;
}
.login{
	position:absolute;
	top:5px;
	right:5px;
	color:#FFF;
}

.login  b{
	font-style:italic;
	font-size:12px;
	margin-right: 7px;
}

.login a{
	color:#FFF;
}

.login a:visited{
	color:#FFF;
}

.timesasked{
	color: #666;
	font-family: Arial;
	font-size: 10px;
}
.causado{
	background-color: #D89;
	padding: 10px;
}

.agree{
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 3px;
	background-color: #9A9;
	float:right;
	position:relative;
	top:-12px;
	right:-7px;
}

.agreeHover{
	background-color: #9F9;
	cursor:pointer;
}

.mail i{
	color:#444;
	font-size: 10px;
}